<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yantz.boot.release.mapper.PmsReleasePlanMapper">

    <!-- 获取发布计划分页列表 -->
    <select id="getPmsReleasePlanPage" resultType="com.yantz.boot.release.model.vo.PmsReleasePlanVO">
        SELECT
                plan_id,
                project_id,
                plan_name,
                plan_version,
                plan_time,
                description,
                create_by,
                create_time,
                update_by,
                update_time,
                is_deleted
        FROM
            pms_release_plan
        <where>
        </where>
    </select>

</mapper>
