<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yantz.boot.release.mapper.PmsReleaseMapper">

    <!-- 获取发布列表分页列表 -->
    <select id="getPmsReleasePage" resultType="com.yantz.boot.release.model.vo.PmsReleaseVO">
        SELECT
                release_id,
                project_id,
                plan_version,
                release_module,
                release_time,
                description,
                create_by,
                create_time,
                update_by,
                update_time,
                is_deleted
        FROM
            pms_release
        <where>
        </where>
    </select>

</mapper>
